@media(min-width: 768px) and (max-width: 991px){
    .prev-next {
        margin-top: 0px;
        margin-bottom: 70px!important;
    }
}
@media(min-width: 576px) and (max-width: 767px){
    .prev-next {
        margin-top: 0px;
        margin-bottom: 70px!important;
    }
}
@media(max-width:575.99px){
    .prev-next {
        margin-top: 22px;
        margin-bottom: 35px!important;
        margin: 0 auto;
    }
    .prev-next a {
        font-size: 13px;
        padding: 7px 11px;
    }

    .blog-content {
        margin-top: 10px;
    }
    .blog-content h3 {
	font-size: 22px;
	margin-bottom: 25px;
}
.searched input::placeholder{
    font-size: 18px;
}
}